@main-color: #c82f32;
@text: #1f1f1f;
@dots: #767676;
.header(){
	font-family: 'Century Gothic', sans-serif;
}
.text(){
	font-family: 'Tw Cen MT', sans-serif;
}
h1{
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	.header();
}
h2{
	.header();
	font-size: 1.6rem;
}

 body{
	.text();
	color: @text;
} 
#main-block{
	background: url('../img/services-background.jpg') center no-repeat;
	background-size: cover;
}
.main-services-text-block{
	margin-top: 30vh;
	text-align: center;
	h1{
		margin-bottom: 1rem;
	}
	p{
		font-size: 1.2rem;
		margin-bottom: 4rem;
	}
}
.main-redline-services{
	position: absolute;
	width: 10rem;
	left: 50%;
	margin-left: -5rem;
	margin-top: -2rem;
	height: 0.16rem;
	background-color: @main-color;
}
.features{
	margin-top: 7rem;
	padding-top: 5rem;
	background: url('../img/background.png') center no-repeat;
		height: 100vh;
 		&-part{
	display: block;
	outline: none;
} 
	&-slider{
		.features-block{
			text-align: center;
			margin-top: 3rem;
			outline: none;
			img{
				margin: 0 auto;
			}
			p{
				margin-top: 2rem;
				font-size: 1.2rem;
				color: @dots;
			}
		}
	}
}
.consulting{
	background: url('../img/business_consulting&research-background.png') center no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 5.4rem;
	padding-bottom: 3rem;
	h1{
		margin-bottom: 7rem;
	}
	p{
		font-size: 1.6rem;
	}
	&-list{
		margin-top: 1.4rem;
		margin-bottom: 2rem;
	}
	h2{
		margin-top: 3rem;
	}
	.methods, .issues{
		display: inline-block;
		height: 22rem;
		width: 100%;
		border: .1rem solid #fff;
		h2{
			font-weight: 800;
			margin-top: 0;
			background-color: #fff;
			padding: 1rem 0;
		}
	}
}
.footer{
	margin: 0;
	width: 100%;
	.rights-reserved{
		margin: 0;
	}
}