/* Basic settings */
*{
	box-sizing: border-box;
}
body{
	font-size: 10px;
}
a,button, form{
	outline: none;
	text-decoration: none;
}
a:hover{
		text-decoration: none;
		color: @text;
}
@main-color: #c82f32;
@text: #1f1f1f;
@dots: #767676;
@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothic.woff2') format('woff2'),
        url('../fonts/CenturyGothic.woff') format('woff'),
        url('../fonts/CenturyGothic.ttf') format('truetype'),
        url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tw Cen MT';
    src: url('../fonts/TwCenMT-Regular.eot');
    src: url('../fonts/TwCenMT-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TwCenMT-Regular.woff2') format('woff2'),
        url('../fonts/TwCenMT-Regular.woff') format('woff'),
        url('../fonts/TwCenMT-Regular.ttf') format('truetype'),
        url('../fonts/TwCenMT-Regular.svg#TwCenMT-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.header(){
	font-family: 'Century Gothic', sans-serif;
}
.text(){
	font-family: 'Tw Cen MT', sans-serif;
}
h1{
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	.header();
}
h2{
	.header();
	font-size: 1.6rem;
}
p{
	font-size: 1.4rem;
}
 body{
	.text();
	color: @text;
} 
.red-sign{
	color: @main-color;
}

/* Main block */

		/* Navigation */
	nav{
	.header();
	font-size: 1.4rem;
	margin-right: -.1rem;
	text-align: right;
	height: 6rem;
	line-height: 6rem;
	}
.menu-on-white-background{
	background-color: rgba(255, 255, 255, .8);
	padding: .4rem;
	box-shadow: 0 0 2rem #fff;
	border-radius: 1rem;
}
nav ul li{
	list-style: none;
	display: inline-block;
	text-transform: uppercase;
		font-weight: 700;
		margin-right: 1.5rem;
	& a{
		text-decoration: none;
		color: @text;
		&:hover{
			border: 2px solid @main-color;
			color: @text;
			text-decoration: none;
			padding: .8rem;
			border-radius: .5rem;
			transition: all 0.4s;
			background-color: rgba(255, 255, 255, 0.7	);
			margin-right: -.6rem;
		}
	}
}

.logo {
	display: inline-block;
	background-color: transparent;
	img{
	height: 6rem;
	width: 8rem;
	position: relative;
	float: right;
	z-index: 10;
	}
	&-text{
		.header();
		font-size: .7rem;
		letter-spacing: .04rem;
		font-weight: 900;
		text-transform: uppercase;
		color: @dots;
		position: absolute;
		text-align: right;
		margin-left: 5.6rem;
	}
	&-block{
			&:hover{
			img{
		background-color: rgba(255, 255, 255, .4);
		box-shadow: 0 0 2rem #fff;
		border-radius: 40%;
		}
		.logo-text{
			text-shadow: .1rem .1rem .01rem lighten(@text, 66%);
			z-index: 40;
			}
				transition: all .4s;
		}
	}
}
.main-header{
	position: relative;
	width: 100%;
	z-index: 99;
}

/* Burger menu */
.burger-menu{
	&-button{
		position: absolute;
		top: 2rem;
		right: 2rem;
		z-index: 30;
		width: 3rem;
		height: 3rem;
		cursor: pointer;
		&:hover{
		opacity: .8;
		} 
		transition: all .4s;
	}
	&-lines{
		position: absolute;
		width: 2rem;
		height: .3rem;
		background-color: @main-color;
		border-radius: .6rem;
				&::before, &::after{
				content: '';
				position: absolute;
				width: 2rem;
				height: .3rem;
				background-color: @main-color;
				border-radius: .6rem;
				}
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&::before{
				top: -.6rem;
		}
			&::after{
				top: .6rem;
		}
	}
	&-active{
		.burger-menu-lines{
				 		background-color: transparent;
				&::before, &::after{
					top: 0;
				}
				&::before{
					transform: rotate(45deg);
				}
				&::after{
					transform: rotate(135deg);
				}
				&:hover{
					opacity: .8;
				} 
		}
		.burger-menu-button{
			transition: all .5s;
		}
		transition: all .8s;
		left: 0;
		.burger-menu-navigation{
			top: 0;
		}
	}
	&-navigation{
		text-align: center;
		position: absolute;
		padding-top: 3rem;
		z-index: 20;
		display: flex;
		flex-flow: column;
		width: 100%;
		height: 86vh;
		background-color: #303030;
		overflow-y: none;
		top: -100%;
		left: 0;
		transition: all .5s;
	}

	&-link{
		text-decoration: none;
		font-weight: 800;
		font-size: 2rem;
		padding: 1rem;
		color: #fff;
		&:hover{
			color: darken(#fff, 20%);
		}
	}
	&-white-line{
		&-1, &-2, &-3{
		position: absolute;
		width: 18rem;
		height: .2rem;
		left: 50%;
		margin-left: -9rem;
		background-color: #fff;	
		}
	 	&-1{
		margin-top: 8rem;
	}	
	&-2{
		margin-top: 16rem;
	}	
	&-3{
		margin-top: 24rem;
		}	 
	}
	&-overlay{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		z-index: 10;
	}
	&-active{
		.burger-menu-overlay{
			display: block;
		}
	}
}
.burger-menu{
	display: none;
}

/* Slider */
#main-block{
		height: 100vh;
		width: 100%;
	}
.slide{
	&r{
		position: absolute;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		left: 0;
		top: 0;
		z-index: 1;
	}
	position: absolute;
	left: 0;
	top: 0;
		display: inline-block;
		width: 100%;
	&-0{
		background: url('../img/main-slide-block-image-1.jpg') center no-repeat;
		background-size: cover;
		height: 100vh;
		z-index: 3;
	}
	&-1{
		background: url('../img/main-slide-block-image-2.jpg') center no-repeat;
		background-size: cover;
		height: 100vh;
		z-index: 4;
	}
	&-2{
		background: url('../img/main-slide-block-image-3.jpg') center no-repeat;
		background-size: cover;
		height: 100vh;
		z-index: 5;
	}
	opacity: 0;
	&-showing{
		opacity: 1;
		top: 0;
		left: 0;
		z-index: 6;	
	}
}
@keyframes slides{
	0%{
		opacity: .3;
	}
		100%{
		opacity: 1;
	}
}
.white-main-block{
	padding: 1rem;
	margin-top: 34vh;
	text-align: left;
	&:hover{
		background-color: rgba(250, 250, 250, .7);
	box-shadow:  0rem 0rem 2rem rgb(255, 255, 255);
	border-radius: 1rem;
	transition: all .5s;
	}
	h2{
		font-weight: 800;
		font-size: 3rem;
		color: @text;
		margin-bottom: 1.6rem;
	}
	.main-slide-subtittle{
		font-size: 1.4rem;
		line-height: 1.8rem;
		letter-spacing: .1rem;
		color: @dots;
	}
}

/* Arrows-and-dots */
 .arrows-and-dots{
 	z-index: 10;
 	position: absolute;
 	width: 100%;
 	transform: translateY(85%);
 }
  .arrow-circle{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	position: relative;
	&:hover{
		background-color: rgba(255,255,255, .5);
	box-shadow: 0 0 2rem #bbb;
	transition: all .4s;
		}
}
/* Left arrow */
#left-arrow{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-left: 3px solid @main-color;
	border-bottom: 3px solid @main-color;
	transform: rotate(45deg);
		margin-left: .3rem;
		margin-top: .3rem;
}

/* Right arrow */
.wrap-2{
	padding-top: .2rem;
}
#arrow-circle-right{
	margin-top: -.5rem;
}
#right-arrow{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-right: 3px solid @main-color;
	border-top: 3px solid @main-color;
	transform: rotate(45deg);
		margin-right: .3rem;
}
.wrap{
	display: table;
	width: 100%;
	height: 2rem;
	&-block{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	}
}
/* Dots */
.dots{
	text-align: center;
	margin-top: 45vh;
}
.dot{
	display: inline-block;
	height: .7rem;
	width: .7rem;
	border-radius: 50%;
	border: 1px solid @dots;
	margin-left: 1rem;
	&:hover{
		border: 1.5px solid @dots;
		transition: all .5s;
	}
	&-active{
		background-color: @dots;
	}
}
/* Animation slider */
.slide-animation{
	animation: slider;
	animation-duration: 1.4s;
}
@keyframes slider{
	0%{
	 	opacity: .3;
	}
	100%{
	 	opacity: 1;
	}
}

/* Why red */
h1.whyred{
	margin-top: 4rem;
}
.whyred{
	&-text{
	font-size: 1.2rem;
	margin-top: 3rem;
}
&-block{
		margin-top: 5rem;
	}
	&-image{
		margin-top: 3rem;
		box-shadow: 0 0rem 2rem #bababa;
	}
}
.red-sign{
	&-w{
	font-size: 2.2rem;
	}
	&-question{
		font-family: sans-serif;
	}
}
.redline-whyred{
	position: absolute;
	margin: 0px;
	height: 0.12rem;
	width: 5rem;
	background-color: @main-color;	
	border-radius: 10%;
	margin-top: 1.5rem;
}
/* Services */
.services{
	background: url('../img/services-main-block.png') center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 40rem;
	width: 100%;
	margin-top: 7rem;
	margin-bottom: 5rem;
	padding-top: 2.4rem;
}
.redline-services{
	position: absolute;
	margin-left: 34rem;
	margin-top: 6rem;
	height: 24rem;
	width: 0.2rem;
	background-color: @main-color;	
	border-radius: 10%;
}
.services-text{
	&-block{
	margin-top: 6rem;
	}
	&-header{
	margin-bottom: 4.4rem;
	}
	font-size: 1.3rem;
	line-height: 2rem;
	letter-spacing: .12rem;
	margin-top: 1.2rem;
}
.h2-services-tittle{
	font-size: 1.6rem;
	font-weight: 700;
}

/* Credentials */
.credentials{
	margin-top: 4rem;
	&-text{
	font-size: 1.3rem;
	line-height: 2rem;
	letter-spacing: .12rem;
	margin-top: 3rem;
	}
	&-image{
	margin-top: 6rem;
	} 
}
.redline-credentials{
	position: absolute;
	width: 100%;
	background-color: @main-color;
	height: .16rem;
	margin-top: 2rem;
}

/* Footer */
.footer{
	margin-top: 8rem;
	background-color: @text;
	width: 100%;
	height: 18rem;
	padding-top: 3rem;
	h2{
		a{
		color: #fff;
		&:hover{
			color: darken(#fff, 15%);
		}
		}
	}
	p{
		color: @dots;
		font-size: 1rem;
	}
	&-services{
		font-size: 1rem;
		margin-top: 1rem;
		&-link{
			margin-bottom: .3rem;
			a{
				color: @dots;
				&:hover{
					color: lighten(@dots, 30%);
				}
			}
		}
		&-triangle{
			position: absolute;
			margin-top: .5rem;
			margin-left: -1rem;
		 border: .3rem solid transparent;
		 border-left: .5rem solid @main-color;
		 width: 0;
		 height: 0;
		}
	}
	&-clients{
		margin-top: 1rem;
	}
	&-contact-us{
		margin-top: 1rem;
	}
}
p.rights-reserved{
		margin-top: 1.2rem;
		color: #fff;
		font-size: .8rem;
}
.hidden-s-in-the-footer{
	visibility: hidden;
}


.logo-in-footer{
	display: inline-block;
	background-color: transparent;
	&-block{
		img{
	height: 6rem;
	width: 8rem;
	position: relative;
	float: right;
	z-index: 10;
		}
	p{
		.header();
		font-size: .7rem;
		letter-spacing: .04rem;
		font-weight: 900;
		text-transform: uppercase;
		color: @dots;
		position: absolute;
		text-align: right;
		margin-left: 5.6rem;
		}
	}
}


/* Media */
@media(max-width: 1200px){
	.redline-services{
		margin-left: 28rem;	
	}
	.footer{
		height: 20rem;
	}
	nav{
		ul{
			li{
				font-size: 1.2rem;
			}
		}
	}
}



@media(max-width: 991px){
	.red-sign-w{
		font-size: 1.8rem;
	}
	.redline-services{
		margin-left: 14rem;
		height: 26rem;
	}
	.credentials-text{
		text-align: center;
	}
	.footer{
		height: 18rem;
		h2{
			font-size: 1.4rem;
		}
	.hidden-s-in-the-footer{
		visibility: visible;
		}
	.hidden-us-in-the-footer{
		visibility: hidden;
		}
		&-phone-number{
			display: block;
		}
		.email-in-the-footer, .phone-in-the-footer{
			color: darken(#fff, 10%);
		}
	}
}



@media(max-width:767px){
.menu-for-desktop{
	display: none;
}
.burger-menu{
		display: block;
	}
	.dots{
		display: none;
	}
	.logo {
	&-block{
			&:hover{
			img{
		background-color: transparent;
		box-shadow: none;
		}
		.logo-text{
			text-shadow: none;
			}
				transition: all .4s;
			}
		}
	}
	.slider{
		height: 90vh;		
		h2{
			font-size: 2.2rem;
		}
	.main-slide-subtittle{
			margin-top: 0.4rem;
			font-size: 1.2rem;
			line-height: 1.6rem;
		}
	}
	h1{
		font-size: 1.8rem;
	}
	h2{
		text-align: center;
	}
	p{
		font-size: 1.2rem;
	}
	.arrows{
		margin-top: 20vh;
	}	
	.wrap-2{
		position: absolute;
		margin-top: .6rem;
	}
	#arrow-circle-right{
		position: relative;
		margin-top: -.5rem;
	}
	p{
		text-align: center;
	}
	.whyred-block{
		margin-top: 3rem;
	}
	.redline{
		&-whyred{
		left: 50%;
		margin-left: -2.5rem;
		}
		&-services{
			display: none;
		}
		&-credentials{

		}
	}
	.footer{
		height: 44rem;
		&-services{
			text-align: center;
			margin-bottom: 3rem;
		}
		&-clients{
			margin-bottom: 3rem;
		}
	a.footer-contacts-h2{
		margin-right: -2rem;
		}
		.rights-reserved{
			margin-top: 3.4rem;
			text-align: left;
		}
	}
}

 @media screen and (max-width: 576px){
	h2{
	font-size: 1.2rem;
}
p{
	font-size: .8rem;
}
	.arrows{
		position: absolute;
		margin-top: 10rem;
	} 
	.dots{
		display: none;
	}
	.whyred-block{
		text-align: center;
	}
	.redline-whyred{
		position: absolute;
		left: 50%;
		margin-left: -2.5rem;
	}
	.services-text-header{
		text-align: center;
	}
	.redline-services, .redline-credentials{
		display: none;
	}
	.services{
		margin-bottom: 0;
	}
	.credentials{
		height: 140vh;
		img{
			display: none;
		}
		padding-top: 4rem;
		background: url('../img/credentials-opacity.png') center no-repeat;
		background-size: cover;
	}
	.footer{
		margin-top: 0;
	}
} 

@media screen and (max-width: 576px){
	
}