h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Century Gothic', sans-serif;
}
h2 {
  font-family: 'Century Gothic', sans-serif;
  font-size: 1.6rem;
}
body {
  font-family: 'Tw Cen MT', sans-serif;
  color: #1f1f1f;
}
.logo-text {
  color: #333;
}
.main-block-clients {
  background: url('../img/clients-main-background.png') center no-repeat;
  background-size: cover;
}
.text-block-clients {
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  font-family: 'Century Gothic', sans-serif;
  color: #fff;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.note {
  height: 120vh;
  margin-top: 2rem;
  padding-top: 12rem;
  /* 	background: url('../img/note.jpg') center no-repeat;
background-size: cover; */
  background: url('../img/clients-lines.svg') center no-repeat;
  background-size: cover;
  /* #business-consulting-text-2{
		margin-bottom: 3.6rem;
	}
		#business-consulting-text-3{
			margin-bottom: 20rem;
		} */
}
.note .outsourced-management,
.note .business-consulting {
  text-align: center;
}
.note .outsourced-management h2,
.note .business-consulting h2 {
  font-weight: 800;
  padding-bottom: 2rem;
}
.note .outsourced-management p,
.note .business-consulting p {
  font-size: 1.2rem;
  font-weight: 500;
}
.note .outsourced-management p {
  margin-bottom: 2rem;
}
.note .business-consulting p {
  margin-bottom: 2.2rem;
}
.note .redline-outsourced-management,
.note .redline-business-consulting {
  position: absolute;
  background-color: #c82f32;
  width: 10rem;
  height: .1rem;
  left: 50%;
  margin-left: -5rem;
  margin-top: -1rem;
}
.case-study {
  margin-top: 2rem;
  padding: 4rem 0rem;
  background: url('../img/case-study.png') center no-repeat;
  background-size: cover;
}
.case-study p {
  margin-top: 2rem;
}
.key-lessons-include {
  background: url('../img/arrow.jpg') center no-repeat;
  background-size: cover;
  margin-top: 1rem;
  padding: 7rem 0;
}
.key-lessons-include h1 {
  margin-bottom: 2rem;
}
.key-lessons-include p {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.footer {
  margin: 0;
  width: 100%;
}
.footer .rights-reserved {
  margin: 0;
}
@media (max-width: 991.5px) {
  .note {
    /* 	background: url('../img/note-mobile.jpg') center no-repeat;
	background-size: cover; */
    padding-top: 6rem;
    height: 150vh;
  }
  .business-consulting {
    margin-top: 4rem;
  }
  .case-study {
    text-align: center;
  }
}
@media (max-width: 991.5px) and (min-width: 768px) {
  .logo-text {
    margin-left: 4rem;
  }
}
@media (max-width: 873px) and (min-width: 768px) {
  .text-block-clients {
    font-size: 1.2rem;
  }
}
@media (max-width: 767.5px) {
  .note {
    padding-top: 4rem;
  }
  .key-lessons-include {
    height: 110vh;
  }
  .key-lessons-include p {
    text-align: left;
  }
  .text-block-clients {
    font-size: 1rem;
    letter-spacing: .05rem;
  }
}
@media screen and (min-width: 250px) and (max-width: 576px) {
  .text-block-clients {
    width: 80%;
  }
  .note {
    padding-top: 2rem;
  }
  .business-consulting {
    margin-top: 2rem;
  }
  .key-lessons-include {
    padding-top: 4rem;
  }
  .key-lessons-include p {
    text-align: center;
  }
  .note {
    background: url('../img/path.svg') center no-repeat;
    background-size: cover;
    height: 180vh;
  }
}
@media (max-height: 530px) {
  .note {
    height: 200vh;
  }
}
@media (max-width: 768px) {
  .key-lessons-include {
    height: 140vh;
  }
}
@media (max-width: 397px) {
  .key-lessons-include {
    height: 160vh;
  }
  .key-lessons-include p {
    text-align: center;
  }
}
