/* Basic settings */
* {
  box-sizing: border-box;
}
body {
  font-size: 10px;
}
a,
button,
form {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #1f1f1f;
}
@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.eot');
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic.woff2') format('woff2'), url('../fonts/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic.ttf') format('truetype'), url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tw Cen MT';
  src: url('../fonts/TwCenMT-Regular.eot');
  src: url('../fonts/TwCenMT-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/TwCenMT-Regular.woff2') format('woff2'), url('../fonts/TwCenMT-Regular.woff') format('woff'), url('../fonts/TwCenMT-Regular.ttf') format('truetype'), url('../fonts/TwCenMT-Regular.svg#TwCenMT-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Century Gothic', sans-serif;
}
h2 {
  font-family: 'Century Gothic', sans-serif;
  font-size: 1.6rem;
}
p {
  font-size: 1.4rem;
}
body {
  font-family: 'Tw Cen MT', sans-serif;
  color: #1f1f1f;
}
.red-sign {
  color: #c82f32;
}
/* Main block */
/* Navigation */
nav {
  font-family: 'Century Gothic', sans-serif;
  font-size: 1.4rem;
  margin-right: -0.1rem;
  text-align: right;
  height: 6rem;
  line-height: 6rem;
}
.menu-on-white-background {
  background-color: rgba(255, 255, 255, 0.8);
  padding: .4rem;
  box-shadow: 0 0 2rem #fff;
  border-radius: 1rem;
}
nav ul li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #1f1f1f;
}
nav ul li a:hover {
  border: 2px solid #c82f32;
  color: #1f1f1f;
  text-decoration: none;
  padding: .8rem;
  border-radius: .5rem;
  transition: all 0.4s;
  background-color: rgba(255, 255, 255, 0.7);
  margin-right: -0.6rem;
}
.logo {
  display: inline-block;
  background-color: transparent;
}
.logo img {
  height: 6rem;
  width: 8rem;
  position: relative;
  float: right;
  z-index: 10;
}
.logo-text {
  font-family: 'Century Gothic', sans-serif;
  font-size: .7rem;
  letter-spacing: .04rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #767676;
  position: absolute;
  text-align: right;
  margin-left: 5.6rem;
}
.logo-block:hover {
  transition: all .4s;
}
.logo-block:hover img {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 2rem #fff;
  border-radius: 40%;
}
.logo-block:hover .logo-text {
  text-shadow: 0.1rem 0.1rem 0.01rem #c7c7c7;
  z-index: 40;
}
.main-header {
  position: relative;
  width: 100%;
  z-index: 99;
}
/* Burger menu */
.burger-menu-button {
  position: absolute;
  z-index: 30;
  width: 3rem;
  height: 3rem;
  top: 5%;
  left: 80%;
  cursor: pointer;
  transition: all .4s;
}
.burger-menu-button:hover {
  opacity: .8;
}
.burger-menu .lines {
  width: 3rem;
  height: 3rem;
  top: 0;
  left: 0;
}
.burger-menu-lines {
  position: absolute;
  width: 2rem;
  height: .3rem;
  background-color: #c82f32;
  border-radius: .6rem;
  left: .5rem;
  top: 1.4rem;
  transform: translate(50%, 250%);
}
.burger-menu-lines::before,
.burger-menu-lines::after {
  content: '';
  position: absolute;
  width: 2rem;
  height: .3rem;
  background-color: #c82f32;
  border-radius: .6rem;
}
.burger-menu-lines::before {
  top: -0.6rem;
}
.burger-menu-lines::after {
  top: .6rem;
}
.burger-menu-active {
  transition: all .8s;
  left: 0;
}
.burger-menu-active .burger-menu-lines {
  background-color: transparent;
}
.burger-menu-active .burger-menu-lines::before,
.burger-menu-active .burger-menu-lines::after {
  top: 0;
}
.burger-menu-active .burger-menu-lines::before {
  transform: rotate(45deg);
}
.burger-menu-active .burger-menu-lines::after {
  transform: rotate(135deg);
}
.burger-menu-active .burger-menu-lines:hover {
  opacity: .8;
}
.burger-menu-active .burger-menu-button {
  transition: all .5s;
}
.burger-menu-active .burger-menu-navigation {
  top: 0;
}
.burger-menu-navigation {
  text-align: center;
  position: absolute;
  padding-top: 5rem;
  z-index: 20;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 90vh;
  background-color: #303030;
  overflow-y: none;
  top: -120%;
  left: 0;
  transition: all .5s;
}
.burger-menu-link {
  text-decoration: none;
  font-weight: 800;
  font-size: 2rem;
  padding: 1rem;
  color: #fff;
}
.burger-menu-link:hover {
  color: #cccccc;
}
.burger-menu-white-line-1,
.burger-menu-white-line-2,
.burger-menu-white-line-3 {
  position: absolute;
  width: 18rem;
  height: .2rem;
  left: 50%;
  margin-left: -9rem;
  background-color: #fff;
}
.burger-menu-white-line-1 {
  margin-top: 8rem;
}
.burger-menu-white-line-2 {
  margin-top: 16rem;
}
.burger-menu-white-line-3 {
  margin-top: 24rem;
}
.burger-menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
.burger-menu-active .burger-menu-overlay {
  display: block;
}
.burger-menu .logo {
  margin-top: 1rem;
  margin-left: 5%;
}
.burger-menu .logo p,
.burger-menu .logo img {
  z-index: 100;
}
.burger-menu {
  display: none;
}
/* Slider */
#main-block {
  height: 100vh;
  width: 100%;
}
.slide {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  top: 0;
}
.slider {
  position: absolute;
  height: 100vh;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 1;
}
.slide-s {
  position: absolute;
  display: inline-block;
  height: 100vh;
  overflow-x: hidden;
  left: 0;
  top: 0;
  z-index: 1;
}
.slide-0 {
  background: url('../img/main-slide-block-image-1.jpg') center no-repeat;
  background-size: cover;
  left: 0;
  z-index: 2;
  opacity: 0;
}
.slide-1 {
  position: absolute;
  background: url('../img/main-slide-block-image-2.jpg') center no-repeat;
  background-size: cover;
  left: 100vw;
  z-index: 2;
  opacity: 0;
}
.slide-2 {
  position: absolute;
  background: url('../img/main-slide-block-image-3.jpg') center no-repeat;
  background-size: cover;
  left: 200vw;
  z-index: 2;
  opacity: 0;
}
.slide-showing {
  left: 0;
  opacity: 1;
  z-index: 5;
}
.white-main-block {
  padding: 1rem;
  margin-top: 34vh;
  text-align: left;
}
.white-main-block:hover {
  background-color: rgba(250, 250, 250, 0.7);
  box-shadow: 0rem 0rem 2rem #ffffff;
  border-radius: 1rem;
  transition: all .5s;
}
.white-main-block h2 {
  font-weight: 800;
  font-size: 3rem;
  color: #1f1f1f;
  margin-bottom: 1.6rem;
}
.white-main-block .main-slide-subtittle {
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: .1rem;
  color: #767676;
}
/* Arrows-and-dots */
.arrows-and-dots {
  z-index: 10;
  position: absolute;
  width: 100vw;
  transform: translateY(85%);
}
.arrow-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
}
.arrow-circle:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2rem #bbb;
  transition: all .4s;
}
/* Left arrow */
#left-arrow {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-left: 3px solid #c82f32;
  border-bottom: 3px solid #c82f32;
  transform: rotate(45deg);
  margin-left: .3rem;
  margin-top: .3rem;
}
#arrow-circle-left {
  margin-top: 0rem;
}
/* Right arrow */
.wrap-2 {
  padding-top: .2rem;
}
/* #arrow-circle-right{
	margin-top: -.5rem;
}  */
#right-arrow {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-right: 3px solid #c82f32;
  border-top: 3px solid #c82f32;
  transform: rotate(45deg);
  margin-right: .3rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 2rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.arrrows-for-phone {
  margin-top: 18%;
  display: none;
}
.arrrows-for-phone svg:hover .a {
  stroke: #db6466;
}
/* Dots */
.dots {
  text-align: center;
  margin-top: 45vh;
}
.dot {
  display: inline-block;
  height: .7rem;
  width: .7rem;
  border-radius: 50%;
  border: 1px solid #767676;
  margin-left: 1rem;
}
.dot:hover {
  border: 1.5px solid #767676;
  transition: all .5s;
}
.dot-active {
  background-color: #767676;
}
/* Animation slider */
.slide-animation {
  animation: slider;
  animation-duration: 1.4s;
}
@keyframes slider {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}
/* Why red */
h1.whyred {
  margin-top: 4rem;
}
.whyred-text {
  font-size: 1.2rem;
  margin-top: 3rem;
}
.whyred-block {
  margin-top: 5rem;
}
.whyred-image {
  margin-top: 3rem;
  box-shadow: 0 0rem 2rem #bababa;
}
.red-sign-w {
  font-size: 2.2rem;
}
.red-sign-question {
  font-family: sans-serif;
}
.redline-whyred {
  position: absolute;
  margin: 0px;
  height: 0.12rem;
  width: 5rem;
  background-color: #c82f32;
  border-radius: 10%;
  margin-top: 1.5rem;
}
/* Services */
.services {
  background: url('../img/services-main-block.png') center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 40rem;
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 5rem;
  padding-top: 2.4rem;
}
.redline-services {
  position: absolute;
  margin-left: 34rem;
  margin-top: 6rem;
  height: 24rem;
  width: 0.2rem;
  background-color: #c82f32;
  border-radius: 10%;
}
.services-text {
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: .12rem;
  margin-top: 1.2rem;
}
.services-text-block {
  margin-top: 6rem;
}
.services-text-header {
  margin-bottom: 4.4rem;
}
.h2-services-tittle {
  font-size: 1.6rem;
  font-weight: 700;
}
/* Credentials */
.credentials {
  margin-top: 4rem;
}
.credentials-text {
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: .12rem;
  margin-top: 3rem;
}
.credentials-image {
  margin-top: 6rem;
  text-align: center;
}
.redline-credentials {
  position: absolute;
  width: 100%;
  background-color: #c82f32;
  height: .16rem;
  margin-top: 2rem;
}
/* Footer */
.footer {
  margin-top: 8rem;
  background-color: #1f1f1f;
  width: 100%;
  height: 18rem;
  padding-top: 3rem;
}
.footer h2 a {
  color: #fff;
}
.footer h2 a:hover {
  color: #d9d9d9;
}
.footer p {
  color: #767676;
  font-size: 1rem;
}
.footer-services {
  font-size: 1rem;
  margin-top: 1rem;
}
.footer-services-link {
  margin-bottom: .3rem;
}
.footer-services-link a {
  color: #767676;
}
.footer-services-link a:hover {
  color: #c3c3c3;
}
.footer-services-triangle {
  position: absolute;
  margin-top: .5rem;
  margin-left: -1rem;
  border: .3rem solid transparent;
  border-left: 0.5rem solid #c82f32;
  width: 0;
  height: 0;
}
.footer-clients {
  margin-top: 1rem;
}
.footer-contact-us {
  margin-top: 1rem;
}
p.rights-reserved {
  margin-top: 1.2rem;
  color: #fff;
  font-size: .8rem;
}
.hidden-s-in-the-footer {
  visibility: hidden;
}
.logo-in-footer {
  display: inline-block;
  background-color: transparent;
}
.logo-in-footer-block img {
  height: 6rem;
  width: 8rem;
  position: relative;
  float: right;
  z-index: 10;
}
.logo-in-footer-block p {
  font-family: 'Century Gothic', sans-serif;
  font-size: .7rem;
  letter-spacing: .04rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #767676;
  position: absolute;
  text-align: right;
  margin-left: 5.6rem;
}
/* Media */
@media (max-width: 1200px) {
  .redline-services {
    margin-left: 28rem;
  }
  .footer {
    height: 20rem;
  }
  nav ul li {
    font-size: 1.2rem;
  }
}
@media (max-width: 991px) {
  .red-sign-w {
    font-size: 1.8rem;
  }
  .redline-services {
    margin-left: 14rem;
    height: 26rem;
  }
  .credentials-text {
    text-align: center;
  }
  .footer {
    height: 18rem;
  }
  .footer h2 {
    font-size: 1.4rem;
  }
  .footer .hidden-s-in-the-footer {
    visibility: visible;
  }
  .footer .hidden-us-in-the-footer {
    visibility: hidden;
  }
  .footer-phone-number {
    display: block;
  }
  .footer .email-in-the-footer,
  .footer .phone-in-the-footer {
    color: #e6e6e6;
  }
}
@media (max-width: 767.5px) {
  .menu-for-desktop {
    display: none;
  }
  .main-header {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .dots {
    display: none;
  }
  .logo-block:hover {
    transition: all .4s;
  }
  .logo-block:hover img {
    background-color: transparent;
    box-shadow: none;
  }
  .logo-block:hover .logo-text {
    text-shadow: none;
  }
  .slider {
    height: 96vh;
  }
  .slider h2 {
    font-size: 2.2rem;
  }
  .slider .main-slide-subtittle {
    margin-top: 0.4rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    text-align: center;
  }
  p {
    font-size: 1.2rem;
  }
  .arrows {
    margin-top: 20vh;
  }
  .wrap-2 {
    position: absolute;
    margin-top: .6rem;
  }
  #arrow-circle-right {
    margin-top: -0.2rem;
    padding-top: .2rem;
  }
  #right-arrow {
    margin-top: -1rem;
  }
  .wrap-2 {
    margin-top: 0;
  }
  p {
    text-align: center;
  }
  .whyred-block {
    margin-top: 3rem;
  }
  .redline {
    /* 		&-credentials{

} */
  }
  .redline-whyred {
    left: 50%;
    margin-left: -2.5rem;
  }
  .redline-services {
    display: none;
  }
  .footer {
    height: 44rem;
  }
  .footer-services {
    text-align: center;
    margin-bottom: 3rem;
  }
  .footer-clients {
    margin-bottom: 3rem;
  }
  .footer a.footer-contacts-h2 {
    margin-right: -2rem;
  }
  .footer .rights-reserved {
    margin-top: 3.4rem;
    text-align: left;
  }
}
@media screen and (min-width: 250px) and (max-width: 576px) {
  .logo-block img {
    height: 4rem;
    width: 6rem;
  }
  .logo-block .logo-text {
    font-size: .5rem;
    margin-left: 4.2rem;
  }
  .logo-in-footer-block img {
    height: 4rem;
    width: 6rem;
  }
  .logo-in-footer-block .logo-in-footer-text {
    font-size: .5rem;
    margin-left: 4.2rem;
  }
  .main-slide-subtittle,
  .step-tittle {
    text-align: left;
  }
  .white-main-block h2 {
    text-align: center;
  }
  .white-main-block p.main-slide-subtittle {
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: center;
  }
  .arrows {
    display: none;
  }
  .arrrows-for-phone {
    display: block;
  }
  .dots {
    display: block;
  }
  .white-main-block {
    background-color: rgba(250, 250, 250, 0.7);
    box-shadow: 0rem 0rem 2rem #ffffff;
    border-radius: 1rem;
  }
  .whyred-block {
    text-align: center;
  }
  .redline-whyred {
    position: absolute;
    left: 50%;
    margin-left: -2.5rem;
  }
  .services-text-header {
    text-align: center;
  }
  .redline-services,
  .redline-credentials {
    display: none;
  }
  .services {
    margin-bottom: 0;
  }
  .services-text {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .h2-services-tittle {
    font-size: 1.2rem;
  }
  .credentials {
    height: 120vh;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4rem;
    /* 	background: url('../img/credentials-opacity.png') center no-repeat;
	background-size: cover; */
  }
  .credentials img {
    /* display: none; */
  }
  .credentials .credentials-text {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .footer {
    margin-top: 0;
  }
  body {
    font-size: .2rem;
  }
}
@media screen and (min-width: 250px) and (max-width: 576px) and (max-height: 640px) {
  .burger-menu {
    margin-bottom: 1rem;
  }
  .burger-menu-navigation {
    padding-top: 3rem;
    height: 90vh;
    top: -130%;
    display: block;
  }
  .burger-menu-link {
    font-size: 1.6rem;
    padding: .6rem;
    display: block;
    margin-bottom: -2rem;
  }
  .burger-menu-white-line-1,
  .burger-menu-white-line-2,
  .burger-menu-white-line-3 {
    margin-top: 1rem;
  }
  /* .credentials{
			background: url('../img/arms.png') center no-repeat;
			background-size: cover;
			margin-top: 4rem;
			h1{
				margin-top: -4rem;
			}
		} */
}
@media (max-width: 400px) {
  .arrrows-for-phone {
    margin-top: 28%;
  }
}
@media (max-width: 318px) {
  .arrrows-for-phone {
    margin-top: 34%;
  }
}
/* Media Js */
.circle {
  /* 	&-first, &-second, &-third, &-fourth, &-fifth */
  border-radius: 50%;
  background-color: #E46C73;
  opacity: .92;
  position: absolute;
}
.circle-first {
  top: 0;
  left: 20px;
  width: 88px;
  height: 88px;
}
.circle-second {
  top: 10px;
  right: -14px;
  width: 123px;
  height: 123px;
}
.circle-third {
  bottom: 20px;
  right: 32px;
  height: 62px;
  width: 62px;
}
.circle-fourth {
  bottom: -24px;
  left: 100px;
  width: 93px;
  height: 93px;
}
.circle-fifth {
  bottom: 0;
  left: 74px;
  width: 54px;
  height: 54px;
}
